@media screen and (max-width: 1100px){
	.nav li {
		padding: 0 10px;
	}
	header .slogan {
		padding: 20px 0 20px 10px;
	}
	header .language {
		padding: 20px 15px 20px;
	}
}

@media screen and (max-width: 920px){
	.nav li {
		padding: 0 5px;
	}
	.main-nav li a {
		font-size: 12px;
	}
}

@media screen and (max-width: 780px){
	.btn-nav {
		display: inline-block;
		float: left;
	}
	.main-nav ul{
		display: none;
		position: absolute;
		top: 55px;
		left: 14px;
		z-index: 5;
	}
	.nav li {
		display: block;
		background: #6aaf08;
		border-bottom: 1px solid #fff;
		padding: 0px 10px !important;
	}
	.nav {
		height: auto;
	}
	.main-part .container {
		text-align: center;
	}
	header .language {
		text-align: center;
	}
}