@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,800");
* {
  box-sizing: border-box;
}

body {
  background: #f3f3f3;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #777777;
  min-width: 320px;
  line-height: 1.3;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.veiw-more {
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: #e8645a;
  border-radius: 5px;
  box-shadow: 0px 4px 0px 0px #e2534b;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

.read-more {
  font-size: 15px;
  background: #76c7c0;
  box-shadow: 0px 4px 0px 0px #62b9b0;
  position: absolute;
  bottom: -23px;
  left: 50%;
  transform: translate(-100px);
}

header {
  background: #76c7c0 url(../images/border-header.png) repeat-x bottom;
  padding: 18px 0 23px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  header .container {
    flex-direction: column;
    justify-content: center;
  }
}

.logo {
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
  padding-left: 5px;
}
.logo b {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 800;
  margin-right: 2px;
}

.main-nav {
  margin-right: 59px;
}
@media screen and (max-width: 768px) {
  .main-nav {
    margin-right: 0;
    width: 100%;
    text-align: center;
  }
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 4px;
}

.main-nav li {
  margin: 0;
  padding: 0;
  display: inline-block;
  padding: 6px 15px 5px 15px;
  margin-left: 20px;
}
.main-nav li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
}
@media screen and (max-width: 980px) {
  .main-nav li {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .main-nav li {
    display: block;
    padding: 5px 0;
    width: 100%;
  }
}

.main-nav li:hover {
  background: #62a29e;
  border-radius: 3px;
  box-shadow: 0px 3px 0px 0px #528b86;
  font-size: 14px;
}

.promo {
  background: url(../images/bg-main.jpg) no-repeat 0 0;
  background-size: cover;
  padding: 162px 0 207px;
  color: #ffffff;
}
.promo .container {
  text-align: center;
}
@media screen and (max-width: 500px) {
  .promo {
    padding: 110px 0 120px;
  }
}

.promo-text {
  max-width: 470px;
  margin: 0 auto;
}

.promo h1 {
  font-size: 50px;
  line-height: 47px;
  font-weight: 800;
  display: inline-block;
  background: #e2534b;
  padding: 0;
  margin: 0;
  padding: 1px 8px 1px 11px;
  border-radius: 3px;
  margin-bottom: 10px;
}
@media screen and (max-width: 500px) {
  .promo h1 {
    font-size: 40px;
  }
}

.promo p {
  font-size: 16px;
  display: inline-block;
  margin: 0;
  padding: 0;
  padding: 9px 14px 13px 14px;
  line-height: 25.6px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}

.about-us {
  padding: 52px 0 78px;
  color: #7f8c8c;
}
@media screen and (max-width: 500px) {
  .about-us {
    padding: 19px 0 29px;
  }
}

.top-services {
  background: #ececec;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 17px 37px 7px 27px;
  margin-bottom: 52px;
}

.top-services h3 {
  font-size: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
}

.top-services .veiw-more {
  margin-bottom: 13px;
}

.top-services p {
  margin: 0 0 15px;
  padding: 0;
}

.ab-us-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ab-us-card {
  width: 23%;
  background: #f8f8f8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 0px 0px #e5e6e6;
  padding: 48px 15px 52px 15px;
  position: relative;
}
@media screen and (max-width: 980px) {
  .ab-us-card {
    width: 48%;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 500px) {
  .ab-us-card {
    width: 100%;
    padding: 35px 10px 30px 10px;
  }
}

.ab-us-card .ab-us-card-link {
  text-decoration: none;
  text-align: center;
  color: #7f8c8c;
}

.ab-us-card i {
  font-size: 60px;
  color: #62bdbd;
  margin-bottom: 9px;
}

.ab-us-card h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 800;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
}

.ab-us-card p {
  color: #777777;
  line-height: 20.8px;
  text-align: center;
}

.ab-us-card:hover {
  background: #ffffff;
}

.ab-us-card:hover i {
  color: #e2534b;
}

.ab-us-card:hover .veiw-more {
  background: #e8645a;
  box-shadow: 0px 4px 0px 0px #e2534b;
}

.blog {
  background: #ececec url(../images/border-blog.png) repeat-x top;
  padding: 61px 0 63px;
}
@media screen and (max-width: 768px) {
  .blog {
    padding: 35px 0 25px;
  }
}

.blog h2 {
  font-size: 40px;
  color: #e1524b;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 500px) {
  .blog h2 {
    font-size: 25px;
  }
}

.after-head {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 59px;
}
@media screen and (max-width: 768px) {
  .after-head {
    margin-bottom: 20px;
  }
}

.blog h4 {
  font-size: 16px;
  font-weight: 800;
  color: #7f8c8c;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}
@media screen and (max-width: 768px) {
  .blog h4 {
    margin-bottom: 15px;
  }
}

.blog-text {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.why-us {
  width: 20%;
}
@media screen and (max-width: 980px) {
  .why-us {
    width: 30%;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 768px) {
  .why-us {
    width: 100%;
    text-align: center;
  }
}

.about-proj {
  width: 46%;
}
.about-proj h4 {
  margin-bottom: 30px;
}
@media screen and (max-width: 980px) {
  .about-proj {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .about-proj {
    width: 100%;
    text-align: center;
  }
}

.client-say {
  width: 23%;
}
.client-say h4 {
  margin-bottom: 23px;
}
@media screen and (max-width: 980px) {
  .client-say {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .client-say {
    width: 100%;
  }
  .client-say h4 {
    text-align: center;
  }
}

.why-us ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.why-us li {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.why-us li i {
  font-size: 12px;
  color: #61b8b0;
  margin-right: 2px;
}

.about-proj p {
  line-height: 24.7px;
}

.about-proj p a {
  color: #e1524b;
}

.client-say p {
  background: #f8f8f8;
  padding: 10px 10px 14px 15px;
  margin: 0;
  margin-bottom: 7px;
  border-radius: 5px;
  position: relative;
  font-style: italic;
  line-height: 24.7px;
}
.client-say p::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 24px 24px 0;
  border-color: transparent #f8f8f8 transparent transparent;
  position: absolute;
  bottom: -24px;
  left: 18px;
}

.client-say span {
  font-weight: 600;
  font-style: italic;
  color: #62bdbd;
  margin-left: 58px;
  font-size: 16px;
}

.contacts {
  padding-bottom: 24px;
  background: #76c7c0;
  color: #ffffff;
}
.contacts .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacts-border {
  height: 19px;
  background: url(../images/border-blog.png) repeat-x top;
  opacity: 0.2;
  margin-bottom: 19px;
}

.contacts .logo {
  color: #000000;
  opacity: 0.5;
  display: inline-block;
  margin: 0;
  margin-bottom: 16px;
  padding-left: 0;
}

.contacts-block {
  width: 31.3333333%;
}
@media screen and (max-width: 980px) {
  .contacts-block {
    width: 50%;
    padding-right: 15px;
  }
}
@media screen and (max-width: 768px) {
  .contacts-block {
    width: 100%;
  }
}

.contact-block-1 p {
  line-height: 23.4px;
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
}

.contact-block-1 span {
  display: block;
  margin-bottom: 5px;
}
.contact-block-1 span i {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  vertical-align: middle;
  padding-left: 18px;
}

.contacts h4 {
  color: #000000;
  opacity: 0.5;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.form-item {
  display: flex;
  justify-content: space-between;
}

.contact-block-2, .contact-block-3 {
  padding-top: 8px;
}

.contact-block-2 label {
  font-size: 14px;
}

.contact-block-2 input {
  width: 270px;
  height: 29px;
  background: #ffffff;
  border: 1px solid #4b7e79;
  border-radius: 2px;
  margin-bottom: 8px;
  padding-left: 8px;
}
@media screen and (max-width: 1160px) {
  .contact-block-2 input {
    width: 70%;
  }
}
@media screen and (max-width: 980px) {
  .contact-block-2 input {
    width: 80%;
  }
}

.contact-block-2 textarea {
  width: 270px;
  height: 86px;
  background: #ffffff;
  border: 1px solid #4b7e79;
  padding-left: 8px;
  border-radius: 2px;
  resize: none;
}
@media screen and (max-width: 1160px) {
  .contact-block-2 textarea {
    width: 70%;
  }
}
@media screen and (max-width: 980px) {
  .contact-block-2 textarea {
    width: 80%;
  }
}

.contact-block-3 h4 i {
  font-weight: normal;
}

.block-whith-pic {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  text-decoration: none;
  color: #ffffff;
}
@media screen and (max-width: 980px) {
  .block-whith-pic {
    justify-content: flex-start;
  }
}

.block-whith-pic img {
  border-radius: 4px;
  margin-right: 19px;
}

.block-with-pic-text p {
  line-height: 19.3px;
  margin: -3px 0 3px 0px;
  padding: 0;
}

.block-with-pic-text span {
  color: #000000;
  opacity: 0.5;
}

footer {
  padding: 12px 0 12px;
  background: #6ab3ac;
}
footer .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

footer span {
  width: 68.666666%;
  color: #ffffff;
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  footer span {
    width: 100%;
    margin-bottom: 10px;
  }
}

.social-links {
  width: 31.333333%;
}
@media screen and (max-width: 768px) {
  .social-links {
    width: 100%;
  }
}

.social-links a {
  margin-right: 21px;
}
