$bg-main: #f3f3f3
$color-grey: #777777
$color-white: #ffffff
$bg-blue: #76c7c0
$color-darkblue: #62a29e
$bg-red: #e2534b
$bg-red-second: #e8645a
$color-grey-second: #7f8c8c
$color-light-blue: #62bdbd
$bg-grey-blog: #ececec
$color-red-head: #e1524b
$color-check-mark: #61b8b0
$color-bg-white: #f8f8f8
$color-black: #000000
$bg-footer: #6ab3ac

